.what-you-get-main-contianer {
    padding: 50px 0px;
    max-width: 1200px;
    width: 86%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .container-one {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 26px;

        button {
            padding: 10px 20px;
            border: none;
            font-size: 18px;
            background-color: #FEDEE4;
            border-radius: 6px;
            font-weight: 600;
        }

        h2 {

            font-weight: 600;
        }
    }



    .container-two {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        .card {
            cursor: default;
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 20px;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
            border-radius: 20px;
            transition-duration: .3s;

           &:hover{
                 box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.18);
                 transform: translateY(-5px);
            }

            .card-upper-section {

                display: flex;
                flex-direction: column;
                gap: 18px;

                .card-upper-section-image-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {

                        margin: 20px;
                    }

                }

                div {


                    p {
                        text-align: start;
                        font-size: 20px;
                        font-weight: 600;
                        min-height: 50px;
                    }
                }
            }

            .card-lower-section {
                p {
                    font-size: 18px;
                    line-height: 30px;
                    font-weight: 400
                }
            }
        }

    }
}

@media(max-width:1370px) {
.what-you-get-main-contianer {

    .container-one {
        button {

        }

        h2 {

        }
    }



    .container-two {
        grid-template-columns: repeat(2, 1fr);

        .card {
            gap: 18px;
            .card-upper-section {


                .card-upper-section-image-container {


                    img {

                    }

                }

                div {


                    p {
 min-height:auto;
                    }
                }
            }

            .card-lower-section {
                p {

                }
            }
        }

    }
}

}
@media(max-width:700px) {
.what-you-get-main-contianer {
    gap: 30px;
    .container-one {
        button {

        }

        h2 {
            font-size: 20px;
        }
    }



    .container-two {
        grid-template-columns: repeat(1, 1fr);

        .card {

            .card-upper-section {
                gap: 14px;

                .card-upper-section-image-container {


                    img {

                    }

                }

                div {


                    p {
                   
                        font-size: 18px;

                    }
                }
            }

            .card-lower-section {
                p {
                    font-size: 16px;
                }
            }
        }

    }
}

}